{% extends "base.html" %} {% block title %}Vote{% endblock %} {% block content %}
<h1>Vote for Your Favorite Candidate</h1>
<form method="POST">
    <label>
        <input type="radio" name="candidate" value="Candidate 1"> Candidate 1
    </label><br>
    <label>
        <input type="radio" name="candidate" value="Candidate 2"> Candidate 2
    </label><br>
    <label>
        <input type="radio" name="candidate" value="Candidate 3"> Candidate 3
    </label><br>
    <label>
        <input type="radio" name="candidate" value="Candidate 4"> Candidate 4
    </label><br>
    <label>
        <input type="radio" name="candidate" value="Candidate 5"> Candidate 5
    </label><br>
    <label>
        <input type="radio" name="candidate" value="Candidate 6"> Candidate 6
    </label><br>
    <label>
        <input type="radio" name="candidate" value="Candidate 7"> Candidate 7
    </label><br>
    <label>
        <input type="radio" name="candidate" value="Candidate 8"> Candidate 8
    </label><br>
    <label>
        <input type="radio" name="candidate" value="Candidate 9"> Candidate 9
    </label><br>
    <label>
        <input type="radio" name="candidate" value="Candidate 10"> Candidate 10
    </label><br><br>
    <input type="submit" value="Submit Vote">
</form>
{% endblock %}